/* PC */
@media screen and (min-width: 992px) {
    .mobile-header {
        display: none;
    }

    .toggle-menu svg {
        display: none;
    }

    .show-on-mobile {
        display: none;
    }
}
/* Tablet & Mobile */
@media screen and (max-width: 991.98px) {
    .nav ul {
        display: none;
    }

    .toggle-menu svg {
        width: 24px;
        color: #666;
    }

    .menu-overlay {
        position: fixed;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.3);
        z-index: 1;
        opacity: 0;
        visibility: hidden;
        transition: 0.5s ease;
    }

    .menu-drawer {
        position: fixed;
        padding: 60px;
        inset: 0 40% 0 0;
        background: #fff;
        z-index: 2;
        transform: translateX(-100%);
        transition: 0.5s ease;
    }

    .menu-drawer ul {
        margin-top: 32px;
    }

    .menu-drawer ul a {
        display: block;
        padding: 14px 0;
        color: #333;
        font-weight: 500;
    }

    .menu-checkbox:checked ~ .menu-overlay {
        opacity: 1;
        visibility: visible;
    }

    .menu-checkbox:checked ~ .menu-drawer {
        transform: translateX(0);
    }

    .header .body {
        position: relative;
        column-gap: 20px;
        justify-content: space-between;
    }

    .header .logo-link {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    .hero .media-block {
        width: 100%;
        padding-left: 64px;
        padding-right: 64px;
    }

    .hero .stats strong {
        padding: 0 6px 0 28px;
        font-size: 3.8rem;
    }

    .hero .stats span {
        font-size: 1.5rem;
    }

    .hero .content-block {
        padding: 0 0 64px 64px;
    }

    .heading.lv1 {
        width: 70%;
    }

    .hero .media-block .img {
        width: 100%;
    }

    .hero .content-block {
        width: 100%;
    }

    .popular {
        margin-top: 65px;
    }

    .popular .courses-list {
        overflow-x: auto;
    }

    .popular .course-item {
        width: 370px;
        height: 469px;
    }

    .feedback {
        margin-top: 65px;
        padding: 96px 32px;
    }

    .feedback-item blockquote {
        font-size: 1.9rem;
    }

    .features {
        margin-top: 65px;
    }

    .features .body {
        flex-direction: column-reverse;
    }

    .features .content {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-bottom: 52px;
    }

    .features-2nd {
        padding: 0;
    }

    .features .images {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .features img.lower {
        margin: 0;
    }

    .features .desc,
    .features .heading.lv2 {
        width: 83%;
    }

    .blog {
        margin-top: 0;
    }

    .blog .blog-list {
        grid-template-columns: repeat(2, 1fr);
    }

    .footer {
        padding: 96px 24px 32px;
    }

    .footer .row {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 60px;
    }

    .footer .row .column {
        width: 100%;
    }
}
/* Tablet */
@media screen and (min-width: 768px) and (max-width: 991.98px) {
    .show-on-mobile {
        display: none;
    }

    .hero .body {
        flex-direction: column-reverse;
    }
}
/* Mobile */
@media screen and (max-width: 767.98px) {
    .menu-drawer {
        padding: 40px;
        width: 75vw;
    }

    .header .action {
        display: none;
    }

    .heading.lv1 {
        font-size: 5.5rem;
    }

    .separate {
        border-top: 1.5px solid #ebebeb;
    }

    .hero-cta,
    .hero .watch-video span {
        font-size: 1.5rem;
    }

    .hero .content-block {
        padding: 0;
    }

    .hero .media-block {
        display: none;
    }

    .popular-top {
        position: relative;
    }

    .popular-top .desc {
        width: 100%;
        margin-bottom: 12px;
    }

    .feedback {
        padding: 32px 0;
    }

    .feedback-item {
        padding: 32px 0 126px;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }

    .feedback-item .content {
        width: 100%;
    }

    .feedback-item .info {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        bottom: 36px;
        left: 0;
    }

    .feedback-item .avatar {
        width: 42px;
        height: 42px;
    }

    .feedback-item .info .title {
        margin-top: 0;
        font-size: 2rem;
    }

    .feedback-item .info .desc {
        font-size: 1.2rem;
        margin-top: 0;
    }

    .popular-top .controls {
        position: absolute;
        right: 0;
        bottom: -40px;
    }

    .feedback-item blockquote {
        font-size: 1.5rem;
    }

    .features {
        margin-top: 0;
    }

    .features .content {
        margin-top: 42px;
    }

    .features .desc,
    .features .heading.lv2 {
        width: 100%;
    }

    .features .images {
        flex-direction: column;
        width: 100%;
        row-gap: 20px;
    }

    .features .images img {
        width: 100%;
    }

    .features .content .cta-btn {
        margin-top: 52px;
    }

    .features .desc {
        margin-top: 32px;
    }

    .features-2nd .images img {
        width: 100%;
    }

    .blog .blog-list {
        display: flex;
        overflow-x: auto;
    }

    .blog .item {
        width: 370px;
        height: 469px;
    }

    .blog .blog-top .desc {
        width: 100%;
    }

    .footer {
        padding: 64px 0 32px;
    }

    .footer .row {
        grid-template-columns: 1fr;
    }

    .footer .desc {
        max-width: 100%;
    }

    .footer .row .column:first-child {
        width: 100%;
    }
}
